/* цвет заголовков #212121 */
/* вторичный цвет текста  #757575 */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* прозрачный белый  rgba(255, 255, 255, 0,6); */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0, 6);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
 .list {
  list-style: none;
}

body {
  color: var(--secondary-text-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid teal;
}

.section {
     padding-top: 94px;
     padding-bottom: 94px;
 }

/* =======COMPONENTS========== */
/* logo */
.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  width: 145px;
  margin-right: 93px;
}
.color-web {
  color: var(--accent-color);
}
.site-nav .color-studio {
  color: var(--primary-text-color);
}

/* site-nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link-contacts {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--accent-color);
}
/* header */
.site-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Hero */
.hero {
  background-color: #2f303a;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
  url('../images/hero/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
}
.hero-button:focus {
  color: var(--primary-text-color);
}
/* ===advantages studio */

/* .container-advantages{
    height: 101px;
} */
.advantages-list{
    display: flex;
}
.advantages-item{
    margin-right: 30px;
}
.advantages-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.advantages-icon-antenna::before {
  background-image: url(../images/icon.advantages/antenna.svg);
}
.advantages-icon-clock::before  {
background-image: url(../images/icon.advantages/clock.svg);
}
.advantages-icon-diagram::before {
background-image: url(../images/icon.advantages/diagram.svg);
}
.advantages-icon-astronaut::before {
background-image: url(../images/icon.advantages/astronaut.svg);
}


/* ========Works============= */
.works-list {
    display: flex;
    justify-content: space-between;
}
/* employee */
.employee-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


/* Section work studio */
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.section-title-element {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-text {
  font-size: 14px;
}

/* team of studio */
.title-employee {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
}
.position-employee {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */
.footer {
    background-color: #2f303a;
    width: 1600px;
    height: 252px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .color-studio {
  color: #ffffff;
}
.addres-footer {
    margin-top: 20px;
}
.address {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 9px;
}
.list-link-footer{
    color: var(--transparent-white-color);
    font-size: 14px;
    font-style: normal;
}
.link-footer {
  color: var(--transparent-white-color);
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-bottom: 9px;
}
.link-footer:focus,
.link-footer:hover {
  color: var(--accent-color);
}

.container-footer {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* ======HEADER============= */
.header {
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto;
    max-width: 1600px;
}
.header-container{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
.menu-list{
display: flex;
justify-content: space-between;
}
.nav-link {
margin-right: 50px;
}

.contacts-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-items: baseline;
 
}

.contacts-list-item{
margin-right: 50px;
}
/* .contacts-list:not(:last-child) {
  margin-right: 50px;
} */

/* Portfolio */
.list-btn-filtr{
    display: flex;
    justify-content: center;
}
.button {
  color: var(--primary-text-color);
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  height: 38px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  margin-right: 8px;
}


.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.title-product {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}
.product-type {
  font-size: 16px;
  line-height: 1.88;
}

.container-product{
    margin-top: 50px;
}
.menu-product {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.product-card {
padding: 20px 24px;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE; 
border-bottom: 1px solid #EEEEEE;
width: 370px;     
}
.menu-product> .item-card{
margin-left: 30px;
margin-bottom: 30px;
flex-basis: calc(100% / 3 - 30px);
}
